.team-member:hover {
  transform: translateY(-10px);
  border: 1px solid orange;
}

.team-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.team-member:hover {
  transform: translateY(-10px);
  border: 3px solid orange; 
}

.team-member img {
  width: 150px;
  height:150px;
  /* border-radius: 50%; */
  object-fit: cover;
  margin-bottom: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.team-member h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(226, 7, 7);
  text-transform: uppercase;
}

.team-member p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #777;
}

@media only screen and (max-width: 768px) {
  .team-member {
    margin: 1rem;
    padding: 1rem;
  }
  
  .team-member img {
    width: 200px; /* adjust to match the width of your rectangle */
    height: 150px; /* adjust to match the height of your rectangle */
  }
  
  .team-member h2 {
    font-size: 1.25rem;
  }
  
  .team-member p {
    font-size: 0.9rem;
  }
}


.centered {
  text-align: center;
}
.team-page {
  text-align: center;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-member {
  width: 300px;
  text-align: left;
}

.team-member-image {
  width: 100%;
  height: auto;
  width: 200px; 
  height: 150px; 
  box-shadow: 0px 0px 10px rgba(255, 48, 48, 0.2);

}





